#todotable-container{
    border: 1px solid blue;
    border-radius: 6px;
    margin: 10px;
}

#todoform-container{
    border: 1px solid blue;
    border-radius: 6px;
    margin: 10px;
    padding: 10px;
    background-color: ghostwhite;
}